# .ebextensions/01_fastapi.config

option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"  # set PYTHONPATH to the Python path on our EC2 instance
  aws:elasticbeanstalk:container:python:
    WSGIPath: "backend/app/main:app"  # change the WSGIPath to our WSGI application
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache